body {
  background-color: bisque;
}

img {
  display: block;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
}

h1,
p,
ul {
  font-family: 'SVN-Gilroy';
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

ul {
  font-weight: 400;
}
